body {
  background-color: #E5E5E4;
  color: #265a71;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #5fa3bf;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #4C9CBE;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
  position: fixed;
  top: 0;
  transform-style: preserve-3d;
  bottom: 0;
  left: 0;
  right: 0
}

.container > .wrap {
  position: absolute;
  width: 100%;
  top: 46%;
  transform: translateY(-50%);
}

.container > .wrap > h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0 .5em .25em;
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(229, 229, 228, .9);
}

.copyright > .me {
  color: #B3B3B3;
  margin: 10px auto 5px auto;
  text-align: center;
  width: 80%;
  font-weight: normal;
}

@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  14% {
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    transform: rotate(45deg) scale(1);
  }
  42% {
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    transform: rotate(45deg) scale(1);
  }
}

.container > .wrap > h1 > .heartbeat:not(:required) {
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  transform: rotate(45deg) scale(1);
  transform-origin: 50% 50%;
}

.container > .wrap > h1 > .heartbeat:not(:required):after, .heartbeat:not(:required):before {
  position: absolute;
  content: "";
  background: #F7917D;
}

.container > .wrap > h1 > .heartbeat:not(:required):before {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}

.container > .wrap > h1 > .heartbeat:not(:required):after {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}

.progress {
  position: relative;
}

.progress > span {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 1.3em;
  width: 57px;
  margin: 0 auto;
  background-color: rgb(229, 229, 228);
  color: #2d6077;
}

.progress > progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 82%;
  height: 4px;
}

.progress > progress[value]::-webkit-progress-bar {
  background-color: #FEFEFE;
  border-radius: 5px;
  box-shadow: 0 0 1px #E5E5E4 inset;
}

.progress > progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background-color: #76b0ca;
  transition: all 0.6s;
}
